# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\lime-react-edu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
